body {
    background: $desktop;
}

.office {
    background: $background;
    .boombox {
        background: $boom_body;
        position: relative;
        top: 3em;
        margin-bottom:3em;
        z-index: 100;
    }
}

.speaker, .deck {
    height: 500px;
}

.speaker {
}

.deck {
    @extend .text-center;
}
