body {
    background: yellow;
}

.office {
    background: green;
    .container {
        position: relative;
        top: 3em;
        margin-bottom:3em;
        z-index: 100;
    }
}

.speaker, .deck {
    height: 500px;
}

.speaker {
    background: red;
}

.deck {
    @extend .text-center;
    background: blue;
}
