/** Colors **/
    $blue:      #68a79c;
    $yellow:    #ffe9c9;
    $orange:    #c87153;
    $dark_gray: #333333;

    /** Color Roles **/
        $background:    $yellow;
        $desktop:       $dark_gray;
        $boom_body:     $blue;
        $buttons:       $orange;
